<div class="row">
   <h1>Experiencia laboral</h1>
   <div class="col-lg-1"></div>
   <div class="col-lg-11">
    <ul>
        <li>
            <h2>Niñera</h2> - <h3>2010-2011</h3>
        </li>
        <p>cuidado de un niño de 6 años, me encargaba de darle su comida y ayudarlocon sus tareas de primer grado</p>
    </ul>
    <ul>
        <li>
            <h2>Control de mercaderia</h2> - <h3>2012-2012</h3>
        </li>
        <p>Trabajo temporal en farmacia (por cierre de mutual), control de Stock de medicacion, realizando planillas en excel</p>
    </ul>
    <ul>
        <li>
            <h2>Atencion en mostrador</h2> - <h3>2015-2015</h3>
        </li>
        <p>Trabajo temporal por vacaciones de invierno en Panadería, en atencion al publico en mostrador </p>
    </ul>
    <ul>
        <li>
            <h2>Atencion al publico</h2> - <h3>2016-2016</h3>
        </li>
        <p>Trabajo temporal por vacaciones de verano y suplencia en Auto lavado, atencion al publico y tareas Generales</p>
    </ul>
    <ul>
        <li>
            <h2>Niñera</h2> - <h3>2017-2019</h3>
        </li>
        <p>cuidado de una niña desde sus 9 meses hasta sus 2 años, me encargabade cuidarla mientras dormía, en darle sus alimentos, y en hacerla jugar </p>
    </ul>
   </div>
</div>