<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
     <ul>
         <li>
             <h2>Auxiliar de Farmacia</h2> - <h3>FEB 2022-MAR 2022</h3>
         </li>
         <p>curso realizando en Capacitarte UBA</p>
     </ul>
     <ul>
         <li>
             <h2>Auxiliar Administrativo Junior</h2> - <h3>NOV 2021-DIC 2021</h3>
         </li>
         <p>curso realizando en Capacitarte UBA</p>
     </ul>
     <ul>
         <li>
             <h2>Administración de Consorcios</h2> - <h3>AGO 2021-NOV 2021</h3>
         </li>
         <p>curso realizando en SEC -sindicato de empleados de comercio </p>
     </ul>
     <ul>
         <li>
             <h2>Cajera Bancaria con sistema financiero</h2> - <h3>AGO 2020 - SEP 2020</h3>
         </li>
         <p>curso realizando en Capacitarte UBA</p>
     </ul>
     <ul>
         <li>
             <h2>Perito Mercantil Con especialidad contable</h2> - <h3>MAR 2008- DIC 2012</h3>
         </li>
         <p>Estudios secundarios finalizado en el Liceo n4 "Remedios de Escalada de San Martin"</p>
     </ul>
    </div>
 </div>
